server {
    listen 80;
    server_name PUBLIC_GATEWAY_HOST_EXAMPLE;

    access_log /var/log/nginx/local-gitlab-gateway.access.log;
    error_log /var/log/nginx/local-gitlab-gateway.error.log;

    client_max_body_size 100M;

    #
    # LocalGitLabGateway API
    #
    location /api/ {
        proxy_pass http://127.0.0.1:8080/;
        proxy_http_version 1.1;

        proxy_set_header Host $host;
        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
        proxy_set_header X-Forwarded-Proto $scheme;
        proxy_set_header X-Request-ID $request_id;

        proxy_connect_timeout 30s;
        proxy_send_timeout 30s;
        proxy_read_timeout 30s;
    }

    #
    # GitLab HTTPS Reverse Proxy
    #
    location /gitlab/ {
        proxy_pass https://GITLAB_INTERNAL_ADDR_EXAMPLE/gitlab/;

        #
        # Current PoC uses self-signed certificate.
        #
        proxy_ssl_verify off;

        proxy_http_version 1.1;

        proxy_set_header Host GITLAB_INTERNAL_HOST_EXAMPLE;

        proxy_set_header X-Real-IP $remote_addr;
        proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;

        proxy_set_header X-Forwarded-Proto https;
        proxy_set_header X-Forwarded-Ssl on;
        proxy_set_header X-Forwarded-Host $host;
        proxy_set_header X-Forwarded-Prefix /gitlab;

        proxy_set_header X-Request-ID $request_id;

        proxy_set_header Upgrade $http_upgrade;
        proxy_set_header Connection "upgrade";

        proxy_connect_timeout 30s;
        proxy_send_timeout 30s;
        proxy_read_timeout 30s;
    }
}
